<md-content class="tabs" layout-align="center center" ng-controller="feedCtrl">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Feed">
            <md-content class="md-padding">
                <div flex-xs flex-gt-xs="100" layout="column">
                    <ul style="list-style-type:none">
                        <li ng-repeat="challenge in challengeflow">
                            <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-display-3">{{challenge.title}}</span>
                                        <span class="md-subhead">{{challenge.issuer}}</span>
                                        <span class="md-subhead">{{challenge.type}}</span>
                                        <span class="md-headline">{{challenge.desc}}</span>
                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div class="md-media-sm card-media"></div>
                                    </md-card-title-media>
                                </md-card-title>

                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button ng-click="showSendChallenge($event, challenge._id)">Send to...
                                    </md-button>
                                    <span flex></span>

                                    <md-button id='{{challenge._id}}' ng-click="like(challenge._id)">
                                        <div id="{{challenge._id}}_count">Like 0</div>
                                    </md-button>
                                    <md-button ng-click="getComments(challenge._id)">Comment</md-button>
                                </md-card-actions>
                                <ul id="{{challenge._id}}_com"
                                    style="list-style-type:none;padding: 0; display: none ">
                                    <li>
                                        <md-card id="userComInput"
                                                 md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}"
                                                 md-theme-watch>
                                            <md-input-container>
                                                <label>Your Comment Here</label>
                                                <input ng-model="newUserCom" type="text" required>
                                            </md-input-container>
                                            <md-button ng-click="comment(challenge._id)">
                                                Comment
                                            </md-button>
                                        </md-card>
                                    </li>
                                    <li ng-repeat="comment in challenge.comments">
                                        <md-card
                                                md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}"
                                                md-theme-watch>
                                            <md-card-title>
                                                <md-card-title-text>
                                                    <span class="md-headline">{{comment.user.username}}</span>
                                                    <span class="md-subhead">{{comment.actual}}</span>
                                                </md-card-title-text>
                                            </md-card-title>
                                        </md-card>
                                    </li>
                                </ul>
                            </md-card>
                        </li>
                    </ul>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Gaunlets">
            <md-content class="md-padding">
                <div flex-xs flex-gt-xs="100" layout="column">
                    <ul style="list-style-type:none">
                        <li ng-repeat="challenge in gaunletflow">
                            <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">{{challenge.challenge.title}} Status: {{challenge.status.status}}</span>
                                        <span class="md-subhead">To: {{challenge.challengee.username}}
                                            From: {{challenge.challenger.username}}</span>
                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div class="md-media-sm card-media"></div>
                                    </md-card-title-media>
                                </md-card-title>

                                <md-card-actions layout="row" layout-align="end center">
                                    <!--<md-button ng-click="showSendChallenge($event, challenge._id)">Send to...-->
                                    <!--</md-button>-->
                                    <span flex></span>
                                    <!--Liked by:<p id="{{challenge._id}}_count">0</p>-->
                                    <!--<md-button id='{{challenge._id}}' ng-click="like(challenge._id)">Like-->
                                    <!--</md-button>-->
                                    <!--<md-button ng-click="getComments(challenge._id)">Comment</md-button>-->
                                </md-card-actions>
                                <!--<ul id="{{challenge._id}}_com"-->
                                <!--style="list-style-type:none;padding: 0; display: none ">-->
                                <!--<li>-->
                                <!--<md-card id="userComInput"-->
                                <!--md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}"-->
                                <!--md-theme-watch>-->
                                <!--<md-input-container>-->
                                <!--<label>Your Comment Here</label>-->
                                <!--<input ng-model="newUserCom" type="text" required>-->
                                <!--</md-input-container>-->
                                <!--<md-button ng-click="comment(challenge._id)">-->
                                <!--Comment-->
                                <!--</md-button>-->
                                <!--</md-card>-->
                                <!--</li>-->
                                <!--<li ng-repeat="comment in challenge.comments">-->
                                <!--<md-card-->
                                <!--md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}"-->
                                <!--md-theme-watch>-->
                                <!--<md-card-title>-->
                                <!--<md-card-title-text>-->
                                <!--<span class="md-headline">{{comment.user.username}}</span>-->
                                <!--<span class="md-subhead">{{comment.actual}}</span>-->
                                <!--</md-card-title-text>-->
                                <!--</md-card-title>-->
                                <!--</md-card>-->
                                <!--</li>-->

                                <!--</ul>-->
                            </md-card>
                        </li>
                    </ul>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="judge">
            <md-content class="md-padding">
                <div flex-xs flex-gt-xs="100" layout="column">
                    <ul style="list-style-type:none">
                        <li ng-repeat="gauntlet in reviewFlow">
                            <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-display-3">{{gauntlet.challenge.title}}</span>
                                        <span class="md-subhead">{{gauntlet.challengee}}</span>
                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div class="md-media-sm card-media"></div>
                                    </md-card-title-media>
                                </md-card-title>

                                <md-card-actions layout="row" layout-align="end center">
                                    <!--<md-button ng-click="showSendChallenge($event, challenge._id)">Review-->
                                    <!--</md-button>-->
                                </md-card-actions>
                            </md-card>
                        </li>
                    </ul>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>