<div class="wrapper">
    <div class="container">
        <md-content>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <span><md-button md-no-ink class="md-primary" ng-click="desafio_button()"
                                         style="color:white;
                                         font-size:1.2rem">
                            Desafio
                        </md-button></span>
                    </h2>
                    <span flex></span>
                    <md-button class="md-fab md-mini" aria-label="Favorite" ng-click="showNewChallenge($event)">
                        <md-icon md-svg-icon="../img/ic_add_white_36px.svg"></md-icon>
                    </md-button>
                    <form ng-controller="SrchCtrl as ctrl" id="search_bar" ng-submit="$event.preventDefault()"
                          style= "display: none;">
                        <md-autocomplete

                                md-input-id="search_box"
                                ng-disabled="ctrl.isDisabled"
                                md-no-cache="ctrl.noCache"
                                md-selected-item="ctrl.selectedItem"
                                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                md-search-text="ctrl.searchText"
                                md-selected-item-change="ctrl.selectedItemChange(item)"
                                md-items="item in ctrl.querySearch(ctrl.searchText)"
                                md-item-text="item.username"
                                md-min-length="0"
                                placeholder="Search"
                                md-menu-class="autocomplete-custom-template">
                            <md-item-template>
                                  <span class="item-title" ng-if="item.username">
                                    <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
                                    <span> {{item.username}} </span>
                                  </span>
                                <span class="item-title" ng-if="item.title">
                                    <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
                                    <span> {{item.title}} </span>
                                  </span>
                                <!--<span class="item-metadata">-->
                                <!--<span class="item-metastat">-->
                                <!--<strong>{{item.watchers}}</strong> watchers-->
                                <!--</span>-->
                                <!--<span class="item-metastat">-->
                                <!--<strong>{{item.forks}}</strong> forks-->
                                <!--</span>-->
                                <!--</span>-->
                            </md-item-template>
                        </md-autocomplete>
                    </form>

                    <md-button id="search_button" class="md-fab md-mini" aria-label="Favorite" ng-click="search()">
                        <md-icon md-svg-icon="../img/ic_search_white_36px.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-mini" aria-label="Favorite">
                        <md-icon md-svg-icon="../img/ic_notifications_white_48px.svg"></md-icon>
                    </md-button>
                    <span flex></span>

                    <p>
                        {{name}}
                    </p>
                    <md-button class="md-fab md-mini" aria-label="Favorite" ng-click="profile_button()">
                        <md-icon md-svg-icon="../img/ic_account_circle_white_48px.svg"></md-icon>

                    </md-button>
                    <md-button class="md-fab md-mini" aria-label="Favorite" ng-click="logout()">
                        <md-icon md-svg-icon="../img/ic_exit_to_app_white_48px.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
        </md-content>

        <ng-include src=" 'partials/' + loc+ '.html' ">


        </ng-include>

    </div>
</div>

<style media="screen" type="text/css">

    #flow li {
        margin: 20px 0;
    }

</style>