<!-- TABS -->
<md-content class="tabs" layout-align="center center" ng-controller="profCtrl">
    <div ng-if="!own">
        <md-button ng-click="follow()">
            {{followStatus}}
        </md-button>
    </div>
    <div ng-if="own">
        <h1>Followers: {{followers}}</h1>
    </div>

    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Info">
            <md-content>
                <p>Username: {{info.username}}</p>
                <p>E-mail: {{info.email}}</p>
                <p>First Name: {{info.firstname}}</p>
                <p>Last Name: {{info.lastname}}</p>
                <p>Date of Birth: {{info.dob}}</p>
            </md-content>
        </md-tab>

        <md-tab label="Challenges">
            <md-content class="md-padding">
                <div flex-xs flex-gt-xs="100" layout="column" id="des">
                    <ul style="list-style-type:none">
                        <li ng-repeat="challenge in challenges">
                            <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-headline">{{challenge.challenge.title}}</span>
                                        <span class="md-subhead">To: {{challenge.challengee.username}}
                                            From: {{challenge.challenger.username}}</span>

                                    </md-card-title-text>
                                    <md-card-title-media>
                                        <div class="md-media-sm card-media"></div>
                                    </md-card-title-media>
                                </md-card-title>
                                <md-card-actions layout="row" layout-align="end center">
                                    <md-button>Like</md-button>
                                    <md-button>Comment</md-button>
                                </md-card-actions>
                            </md-card>
                        </li>
                    </ul>
                </div>
            </md-content>
        </md-tab>
        <md-tab label="Settings">
            <md-content class="md-padding">
                <div flex-xs flex-gt-xs="100" layout="column">
                    <label>Username:</label>
                    <input type="text" ng-model="info.username">
                    <label>First Name:</label>
                    <input type="text" ng-model="info.firstname">
                    <label>Last Name:</label>
                    <input type="text" ng-model="info.lastname">
                    <button ng-click="updateInfo()">Submit Changes</button>
                </div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>