<div class="wrapper">
    <div class="container">

        <form class="" ng-submit="submit()">

            <input id="f_name" ng-model="username" type="text" class="login_input name" placeholder="Username"
                   required/>

            <input id="mail" ng-model="email" type="email" class="login_input name"
                   placeholder="ηλεκτρονικό ταχ/μιο" required/>

            <input type="password" ng-model="pass" placeholder="Password">
            <input type="password" ng-model="pass_conf" placeholder="Confirm Password">

            <input id="dob" ng-model="birth" type="date" class="login_input name"
                   placeholder="Date Of Birth"
                   required/>

            <button class="submit_button" type="submit" value="Sign me up!">Επόμενο</button>

        </form>

    </div>
</div>